.form-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card {
  width: 80%;
  flex-direction: column;
  border: 1px solid #f7f7f7;
  padding: 30px;
}

.login-card h1 {
  margin-bottom: 30px;
}

.form-button {
  width: 100%;
  padding: 15px;
}

@media (min-width: 768px) {
  .login-card {
    width: 30%;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .login-card {
    width: 50%;
  }
}
