@import '../../__variables.css';

.main-header {
  width: 95%;
  height: 70px;
  border-bottom: 1px solid #f7f7f7;
  position: fixed;
  font-family: var(--logoFont);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background: #fff;
  left: 2.5%;
}

.main-header .logo {
  margin: auto;
}
.main-header span {
  filter: grayscale(100%);
}

.main-header .logout-button {
  margin-top: 0;
}
